[[source]]
url = "https://devops.bt.siemens.com/artifactory/api/pypi/pypi-all/simple"
verify_ssl = true
name = "artifactory"

[packages]
requests = "*"

[dev-packages]
sphinx = "*"
twine = "*"

[scripts]
test = "python test.py"
docs = "sphinx-build docs/source docs/build"
build = "python setup.py bdist_wheel"
deploy = "pipenv run twine upload --verbose --repository-url https://devops.bt.siemens.com/artifactory/api/pypi/pypi-siemens dist/*"
clean = "rm -r dist/ fossology_python.egg-info/ docs/build/"
